*{
    margin: 0;
    padding: 0;
}


.page-container{
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 4fr;
    min-height: 100vh;
}

.sidebar{
    display: grid;
    background-color: rgb(240, 162, 162);
    grid-column: 1 / 2;
    grid-row: 1 / span 2;
    grid-template-rows: 1fr 3fr 3fr;
}

.sidebar-logo{
    grid-row: 1 / 2;
    padding: 10%;
    font-size: 2em;
}

.sidebar-links-div-one{
    display: grid;
    grid-row: 2 / 3;
    grid-template-rows: repeat(6, 1fr);
    padding: 10%;
}

.sidebar-links-div-two{
    display: grid;
    grid-row: 3 / 4;
    grid-template-rows: repeat(6, 1fr);
    padding: 10%
}

.sidebar-link{
    font-size: 1.2em;
}

.header{
    background-color: rgb(177, 177, 177);
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.main-content{
    background-color: white;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}